# Source files
src/
test/
scripts/

# Configuration files
tsconfig.json
.env
tsconfig.tsbuildinfo
eslint.config.mjs
.prettierrc
.prettierignore

# Development files
node_modules/
.DS_Store
.vscode/
ypareo-links.json
ypareo-links.md

# Git
.gitignore
.git/